body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(/image/19366.jpg);
    background-position: 100%;
    
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 15px 0 0 15px;
    width: 35vw;
    height: 2rem;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}

.btn:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 30px;
}

.result-container h2 {
    margin-bottom: 20px;
}

.result-container img {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}